#app-transactions{
	.bal {
		position: relative;
		top: -15px;
		font-size: 30px;
	}
	#app-transaction-list {
		li {
			cursor: pointer;
			text-align: center;
			font-size: 30px;
			border-top:1px solid #57BDFD;
			padding: 15px 0px;
			&:last-child{
				border-bottom: 1px solid #57BDFD;
			}
		}
	}
}

