#app-homepage-view {
	margin-top:20px;
	text-align: center;

	h1 {
		color: transparent;
		height: 77px;
		background: url('../images/bitcash_logo.png') center center no-repeat;
	}
	
	core-icon[icon='account-balance-wallet']{
		height: 110px;
		width: 110px;
	}

	#sign-in {
		font-size: 20px;
		border-radius: 2px;
		padding:5px 10px;
	}

	#app-homepage-view-login{
		position: absolute;
		bottom: 80px;
		text-align: center;
		width: 100%;
		
		#app-homepage-view-login-details {
			margin: 0 auto;
			border: 1px solid blue;
			width: 300px;
		}

	}
}