#app-homepage-view {
	margin-top:20px;
	text-align: center;

	h1 {
		color: transparent;
		height: 77px;
		background: url('../images/bitcash_logo.png') no-repeat;
	}
	
	core-icon[icon='account-balance-wallet']{
		height: 110px;
		width: 110px;
	}

	#sign-in {
		font-size: 20px;
		border-radius: 2px;
		padding:5px 10px;
	}
}