#app-send-money{

	#app-send-money-amount{
		position: relative;
		top: -20px;
	}

	label {
		float: left;
		margin-right: 10px;
		width: 80px;
	}

	.form-section {
		clear: both;
		margin-bottom: 10px;
	}

	.controls {
		text-align: center;
	}

	#app-send-money-details {
		margin-bottom: 40px;
	}

	#app-send-money-amount {
		text-align: center;
	}

	#app-friend-name {
		font-size: 20px;
	}

	input#app-payment-reason {
		background: #0472a7;
		border: none;
		width: 100%;
		margin-top: -10px;
	}

	ul#app-friend-list {
		margin-bottom: 20px;
		li {
			font-size: 20px;
			border-top: 1px solid #57BDFD;
			padding: 20px 10px;
			cursor: pointer;
			&:last-child {
				border-bottom: 1px solid #57BDFD;
			}
			paper-checkbox {
				float: right;
				margin-top: 5px;
			}
		}
	}
}

@media only screen and (min-width: 900px){

	#app-send-money{
		input#app-payment-reason {
			width: 83%;
		}
	}
		
}